@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding: 0px;
}

.bienvenida{
	background-image: url("img/inicio.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
	
.bienvenidos{
	padding-bottom: 50px
}

h1{
	font-family:'LT Glockenspiel Black';
	font-size: 150px;
	color:#FFFFFF;
}

h2{
	font-family:'Cocogoose Pro Thin';
	font-size:35px;
	color:#FFFFFF;
}

h3{
	font-family:'LT Glockenspiel Black';
	font-size: 30px;
	color:#FFFFFF;
}

.boton{;
	border-radius:50px;
	width: 100px;
	padding: 20px 50px 20px 50px;
	font-size:30px;
	font-family:"LT Glockenspiel Black";
	box-shadow: 0 0 5px blueviolet,
	0 0 25px blueviolet;
}

.boton:hover {
	box-shadow: 0 0 5px blueviolet,
	0 0 25px blueviolet, 0 0 5px blueviolet,
	0 0 100px blueviolet, 0 0 200px blueviolet;
}

a{
	text-decoration: none;
	color: #010101;
}

/*Index*/
.fondo{
	background-image:url("img/index.jpg");
}

.inicio{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 200px;
	padding-bottom: 200px;
	padding-right: 50px;
	padding-left: 50px;
}

.header {
	background: linear-gradient(to right,#9E3F95, #747DC1);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	position:relative;
	width: 100%;
	height: 100px;
}

.inicio h1{
	font-family:'LT Glockenspiel Black';
	font-size: 150px;
	color:#FFFFFF;
	transition: color 0.3s, font-size 0.3s;
}

.inicio h1:hover{
	color:#9E81B9;
	font-size: 195px;
}

footer{
	background: linear-gradient(to right,#9E3F95, #747DC1);
	width: 100%;
	height: 50px;
	position: absolute;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.redes-sociales{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.redes-sociales li {
	display: inline;
	margin: 0 10px;
}

.redes-sociales a {
	text-decoration: none;
	 color: #fff;
	font-size: 24px;
}

nav{
	display: flex;
	text-align:end;
	flex-direction: row;
	justify-content: flex-end;
	padding: 30px;
}

nav a {
	color: white;
	font-family: Cocogoose, "Cocogoose Pro Thin";
	padding:14px 20px;
	text-decoration: none;
}

/*perfil*/ 

.perfil{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 150px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	color:#FFFFFF;
}

.perfil p{
	padding-top: 55px;
	padding-left: 50px;
	padding-right: 100px;
	width: 700px;
	text-indent: 1.5em;
	line-height: 1.5;
	margin: 0 0 1em;
}

video {
	height: 550px;
	 width: 450px;
	padding-right: 100px;
}

/*proyecotos*/
.proyectos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color:#FFFFFF
}

.proyectos p {
	padding:20px;
	width: 500px;
	text-indent: 1.5em;
	margin: 0 0 1em;
	line-height: 1.5;
}

img{
	width: 100%;
	transition: transform 0.3s;
}

img:hover {
	transform: scale(1.2);
}

.galeria{
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
}

.columnas{
	flex: 25%;
	padding: 5px;
}

.columnas img{
	margin-top: 5px;
}


@media screen and (max-width:600px){
	nav, section{
		flex-direction: column;
	}
	.columnas{
		flex: 100%;
		
	}
}

/*fcontacto*/
.formulario{
	display: flex;
	width: 420px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	color: black;
	font-family:"Cocogoose Pro Thin";
	border-radius: 10px;
	padding: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label{
	position: relative;
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 30px
}

input, textarea{
	width: 100%;
	height: 100%;
	background: transparent;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: white;
	padding: 20px 45px 20px 20px;
}

input [type="text"], input [type="email"], input [type="asunto"], input [type="mensaje"], textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input [type="submit"]{
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 40px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: blueviolet;
}