@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding: 0px;
}

<!-- inicio -->

body{
	background-image: url("img/inicio.svg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

h1{
	font-family:'LT Glockenspiel Black';
	font-size: 150px;
	color:#000000;
}

h2{
	font-family:'Cocogoose Pro Thin';
	font-size:45px;
	color:#020202;
}

.boton{
	background-color: antiquewhite;
	border-radius:50px;
	width: 100px;
	padding: 20px 50px 20px 50px;
	font-size:30px;
	font-family:"LT Glockenspiel Black";
	
}

a{
	text-decoration: none
}