@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding: 0px;
}

.bienvenida{
	background-image: url("img/inicio.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.bienvenidos{
	padding-bottom: 50px
}

h1{
	font-family:'LT Glockenspiel Black';
	font-size: 150px;
	color:#FFFFFF;
}

h2{
	font-family:'Cocogoose Pro Thin';
	font-size:45px;
	color:#FFFFFF;
}

.boton{
	background-color: antiquewhite;
	border-radius:50px;
	width: 100px;
	padding: 20px 50px 20px 50px;
	font-size:30px;
	font-family:"LT Glockenspiel Black";
	
}

a{
	text-decoration: none;
	color: #010101;
}

/*Index*/
body{
	background-image:url("img/jpg")
}